/* #root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
} */
@media screen and (max-width: 500px) {
  img{
    max-width: 400px;
  }
  h1{
    font-size: 30px;
  }
  .header-nav{
    font-size: 30px;
  }
  .bttn-no{
    height: 25px;
    width: 50px;
    font-size: 13px;
    margin-right: 25px;
  }
  .bttn-yes{
    height: 50px;
    width: 125px;
    font-size: 25px;
  }
}
#root{
  min-height: 970px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.logo {
  height: 6em;
  padding: 1.5em;
}

body{
  margin: 0;
  padding: 0;
  min-height: 970px;
  width: 100%;
}

header{
  height: 70px;
  width: 100%;
  background-color: #B9C1BF;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px 0px 20px;
}

h1{
  font-family: Fahkwang;
  font-size: 40px;
}

.header-nav{
  text-decoration: none;
  color: black;
}

footer{
  height: 150px;
  width: 100%;
  background-color: #2B5855;
  color: #F8F4F2;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footer-nav{
  font-size: 15px;
  color: #A2C2B3;
}

.home-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  text-align: center;
}

.home-section h1{
  margin-bottom: 100px;
}

.bttn-no{
  height: 40px;
  width: 100px;
  background-color: #A2C2B3;
  color: #F8F4F2;
  font-size: 20px;
  border-radius: 20px;
  margin-right: 50px;
}

.bttn-yes{
  height: 100px;
  width: 300px;
  background-color: #2B5855;
  color: #F8F4F2;
  font-size: 30px;
  border-radius: 50px;
  box-shadow: 0px 10px 4px rgba(0, 0, 0, 0.25); 
}

.duck-bttn{
  height: 50px;
  width: 150px;
  background-color: #2B5855;
  border-radius: 25px;
  color: #F8F4F2;
  font-size: 20px;
}

button{
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
button:hover{
  transform: scale(1.05);
  transition: 0.5s ease;
}
button:active{
  transform: scale(0.95);
}

.duck-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.duck-div{
  height: fit-content;
  width: fit-content;
  margin-bottom: 50px;
}

.duck-div img{
  max-height: 500px;
  max-width: 900px;
}

.contact-section{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.contact-section h1{
  font-size: 50px;
  margin: 0px 20px 0px 20px;
}

p{
  font-size: 15px;
  color: #A2C2B3;
}

.contact-section div{
  display: flex;
  align-items: center;
  margin-bottom: 150px;
}